section 
    .container 
        .row 
            each item, index in cardBookings
                .col-6(class=index == cardBookings.lenth - 1 || index == cardBookings.lenth - 2 ? '' : 'mb-3') 
                    +card-booking(item.icon, item.title, item.href)