.modal.fade.js-modal-pick-seat#modal-pick-seat(tabindex="-1") 
    .modal-dialog
        .modal-content
            .modal-header 
                h3.modal-title Chọn hạng ghế
            .modal-body 
                div(data-toggle="buttons") 
                    +radio-box(
                        'Phổ thông',
                        'Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản của bạn',
                        'input-pick-seat',
                        'input-pick-seat-1',
                        true
                    )(class="btn mb-3")
                    +radio-box(
                        'Thương gia',
                        'Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng',
                        'input-pick-seat',
                        'input-pick-seat-2',
                        false
                    )(class="btn mb-3")
                    +radio-box(
                        'Hạng nhất',
                        'Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hóa',
                        'input-pick-seat',
                        'input-pick-seat-3',
                        false
                    )(class="btn")
            .modal-footer.text-center.mt-auto 
                button.button.button-secondary.close.button-submit(type="button" data-dismiss="modal" aria-label="Close" data-control="#input-pick-seat") Xác nhận

.modal.fade#modal-pick-date-one-way(tabindex="-1")
    .modal-dialog
        .modal-content.px-0
            .modal-header 
                h3.modal-title Ngày đi
            .modal-body
                #date-booking-flight-one-way

.modal.fade#modal-pick-date-round-trip(tabindex="-1")
    .modal-dialog
        .modal-content.px-0
            .modal-header 
                h3.modal-title Ngày đi
            .modal-body
               #date-booking-flight-round-trip

.modal.fade#modal-pick-customer(tabindex="-1")
    .modal-dialog
        .modal-content.px-0
            .modal-header.px-3
                h3.modal-title Thêm hành khách
            .modal-body
                .d-flex.text-center
                    .flex-grow-1
                        h4.text-label Người lớn
                        .text-sub Trên 12 tuổi
                        +slider-select(10, true).mt-4.select-adult
                    .flex-grow-1
                        h4.text-label Trẻ em
                        .text-sub Từ 2 - 12 tuổi
                        +slider-select(5, false).mt-4.select-child
                    .flex-grow-1
                        h4.text-label Em bé
                        .text-sub Dưới 2 tuổi
                        +slider-select(2, false).mt-4.select-baby
            .modal-footer.px-3.d-flex.justify-content-between
                button.button.button-secondary.close.button-submit.button-mwidth(type="button" data-dismiss="modal" aria-label="Close" data-control="#modal-pick-customer") Xác nhận
                .button.button-cancel.close.button-mwidth(data-dismiss="modal" aria-label="Close") Huỷ

.modal.modal-full-screen.fade#modal-search-location(tabindex="-1")
    .modal-dialog 
        .modal-content 
            button.button-close 
                span.ic-close
            .modal-header.pb-3 
                h3.modal-title Tìm điểm khởi hành
                .input-search.mt-3
                    input.input-control(type="text" placeholder="Nhập điểm khởi hành của bạn" area-results="#search-results" area-suggestion="#search-suggestion")
                    span.input-icon 
                        span.ic-search
                    button.delete 
                        span.ic-delete
            .modal-body.pt-0
                #search-results(style="display: none;") 
                    +card-result('Hà Nội, Việt Nam', 'Sân bay Nội Bài', 'HAN')
                    +card-result('Hà Nội, Việt Nam', 'Sân bay Nội Bài', 'HAN')
                    +card-result('Hà Nội, Việt Nam', 'Sân bay Nội Bài', 'HAN')
                    +card-result('Hà Nội, Việt Nam', 'Sân bay Nội Bài', 'HAN')
                    .my-4.text-helper.text-center Result not found
                #search-suggestion
                    div.mb-3 
                        h4 Tìm kiếm gần đây 
                        .chip-group
                            each provice in provinces 
                                +chip-outline(provice)
                    div.my-3 
                        h4 Miền Bắc
                        .chip-group
                            each provice in provinces 
                                +chip-primary(provice)
                    div.my-3 
                        h4 Miền Trung
                        .chip-group
                            each provice in provinces 
                                +chip-primary(provice)
                    div.my-3 
                        h4 Miền Nam
                        .chip-group
                            each provice in provinces 
                                +chip-primary(provice)
                    div.my-3 
                        h4 Địa điểm phổ biến nước ngoài
                        .chip-group
                            each city in foreignCities 
                                +chip-primary(city)