nav.navbar-bottom 
    .container 
        //- .row.justify-content-between.no-gutters 
        //-     each item in navbarBottom
        //-         .col  
        .d-flex.justify-content-between
            each item in navbarBottom
                +navbar-item(item.icon, item.title, item.href, item.isActive, item.noti)
