header(class=isHeaderTrans ? '' : 'header')
    nav.navbar-top 
        .container.px-0.d-flex.justify-content-center 
            .navbar-left.mr-auto 
                a.button.button-icon(href="/" role="button")
                    span.ic-arrow-left
            .navbar-center.mx-auto
                h3 !{navbarTitle} 
            .navbar-right.ml-auto 
                if navbarIconRight 
                    button.button.button-icon(type="button")
                        span(class=navbarIconRight)
                if navbarTextRight 
                    button.button.button-text(type="button") !{navbarTextRight}