header.header.d-flex.align-items-center  
	.container 
		.account(class=isLoggedin ? 'is-loggedin' : '')
			.account-left 
				img.account-thumb(src=avatar || './assets/images/avatar-default.jpg' alt="avatar")
			.account-content 
				h3!= accountTitle
				p!= accountText