section.py-3
    .container
        +section-title('Ưu đãi đặc biệt cho bạn')
            a(href="#").readmore Xem tất cả
                span.ic-arrow-right
        .slider-primary
            .swiper-container
                .swiper-wrapper 
                    each image in sliderPrimary 
                        .swiper-slide
                            a(href="#" title="Banner name")
                                img(src=image alt="Banner")