section.pt-3
    .container
        +section-title('Tin tức du lịch')
            a(href="#").readmore Xem tất cả
                span.ic-arrow-right
        .slider-secondary
            .swiper-container
                .swiper-wrapper
                    each item in news 
                        .swiper-slide
                            +card-news(item.thumb, item.title, item.description, item.href)