.account {
    display: flex;
    align-items: center;
    .account-left {
        margin-right: $spacer;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        box-shadow: 4px 5px 15px 0 rgba($black, 0.2);
    }
    .account-thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .account-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin-bottom: 0;
            color: inherit;
        }
        h3 {
            margin-bottom: 0;
            color: inherit;
        }
    }
    &.is-loggedin {
        .account-left {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                background-image: url(../images/ic-crown.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                top: 0;
                right: 0;
            }
        }
    }
}