.booking {
    .booking-header {
        color: $white;
        padding-bottom: $spacing-lg;
    }
    .booking-body {
        @include shape-drawer();
        padding: $spacing-md $grid-gutter-width;
        display: flex;
        flex-direction: column;
    }
}

$space-controls: 20px;
.booking-search-controls {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    > span:first-child {
        display: block;
        width: 14px;
        height: 14px;
        border: solid 1px $white;
        border-radius: 50%;
    }
    > span[class^="ic-"] {
        font-size: 1rem;
    }
    .button {
        position: relative;
        margin-top: $space-controls;
        margin-bottom: $space-controls;
        width: 24px;
        height: 24px;
        font-size: rem(12px);
        padding: 0;
        [class^="ic"] {
            animation-fill-mode: forwards;
            &.animating {
                animation-name: spinHalf;
                animation-timing-function: ease-out;
                animation-duration: 300ms;
            }
        }
        &::before, &::after {
            content: '';
            width: 0;
            height: $space-controls;
            left: calc(50% - 1px);
            border-left: dashed 1px $white;
            position: absolute;
        }
        &::before {
            top: -$space-controls;
        }
        &::after {
            bottom: -$space-controls;
        }
    }
}

.booking-search-place {
    position: relative;
    .booking-search-controls {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .input-control {
        font-size: $h3-font-size;
        font-weight: $font-weight-bold;
    }
}
