.button, button {
    background: inherit;
    border: none;
    color: inherit;
    appearance: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    padding: $grid-gutter-width/2 $grid-gutter-width;
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
    transition: all .2s ease-out;

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: none;
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: inherit;
        text-decoration: none;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: no-drop;
        opacity: .65;
        box-shadow: none;
    }
}

a.button {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}

.button-icon {
    width: $btn-height;
    height: $btn-height;
    justify-content: center;
    align-items: center;
    &.rounded {
        background: $white;
        color: $primary;
        border-radius: 50%;
    }
    &:active {
        box-shadow: 0px 0px 10px rgba($white, .3);
    }
}

.button-text {
    height: $btn-height;
}

.button-primary {
    background: $primary;
    color: $white;
    border-radius: $btn-border-radius;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    box-shadow: 5px 5px 20px 0 rgba($primary, 0.45);
}

.button-secondary {
    background: $secondary;
    color: $white;
    border-radius: $btn-border-radius;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    box-shadow: 5px 5px 20px 0 rgba($secondary, 0.45);
}

.button-cancel {
    background: $gray-500;
    color: $white;
    border-radius: $btn-border-radius;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    text-align: center;
}

.button-mwidth {
    display: flex;
    justify-content: center;
    min-width: 160px;
}

.button-sm {
    max-width: 540px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-no-shadow {
    box-shadow: none;
}

.button-countdown {
    padding: 7px 28px;
    background-color: $gray-100;
    width: max-content;
    border-radius: $border-radius-xl;
    font-size: 1rem;
    color: $dark;
}