$circle-width: 32px;
.card-booking {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    .card-booking-wrapper {
        background: $white;
        mask-image: radial-gradient(#{$circle-width} circle at #{$circle-width} #{$circle-width}, transparent 50%, $white 50%);
        mask-position: #{-$circle-width - 8px} calc(100% + #{$circle-width / 2});
        mask-size: calc(100% + #{$circle-width} / 2) auto;
        min-height: rem(96px);
        overflow: hidden;
        width: 100%;
        border-radius: $border-radius-lg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $spacing-xs $circle-width;
    }
    &::after {
        @extend %shadow;
    }
    .card-icon {
        margin-bottom: rem(14px);
    }
    .card-title h3 {
        font-weight: $font-weight-regular;
        margin-bottom: 0;
    }
    &:hover {
        text-decoration: none;
        &::after {
            bottom: rem(-20px);
            opacity: 0.15;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-thumb {

        img {
            width: 100%;
            height: auto;
        }
    }
    &.card-news {
        border-radius: 15px;
        position: relative;
        box-shadow: 5px 5px 20px 0 rgba(68,70,71,0.10);
        margin-bottom: 24px;
        .card-thumb {
            .img-wrapper {
                border-radius: 15px 15px 0 0;
            }
        }
        .card-body {
            padding: 8px 8px 12px 8px;
            .card-title {
                color: $dark;
                margin-bottom: $spacing-xs/2;
            }
            .card-text {
                line-height: $line-height-small;
            }
        }
    }
}

.card-result {
    display: flex;
    margin-bottom: $spacing-sm;
    .card-suffix {
        margin-left: $spacing-xs;
        font-weight: $font-weight-bold;
        font-size: $h4-font-size;
        margin-left: auto;
        color: $dark;
    }
    h4 {
        margin-bottom: rem(4px);
    }
    p {
        margin-bottom: 0;
        font-size: $h5-font-size;
    }
}

.card-step-heading {
    display: flex;
    text-align: center;
    align-items: center;
    color: $white;
    &.has-prefix {
        text-align: left;
    }
    .card-prefix {
        font-size: rem(50px);
        font-weight: $font-weight-bold;
        opacity: .3;
        width: 80px;
        flex: 0 0 50px;
    }
    .card-body {
        h4 {
            margin-bottom: 0;
            color: inherit;
        }
        p {
            margin-bottom: 0;
        }
    }
}
