.chip {
    padding: rem(4px) rem(12px);
    border: solid 1px $primary;
    background: inherit;
    color: $dark;
    border-radius: $border-radius-lg;
    cursor: pointer;
    &.chip-outline {
        background: $white;
        &:visited {
            background: $gray-300;
        }
    }
    &.chip-primary {
        background: $primary;
        color: $white;
        &:visited {
            background: $blue-dark-2;
        }
    }
}

.chip-group {
    .chip {
        margin-right: rem(8px);
        margin-bottom: rem(8px);
    }
}