.date-picker-wrapper {
    
}

.month-wrapper {
    font-size: $font-size-base;
    color: $dark;
    table {
        width: 100%;
        table-layout: fixed;
        width: 100%;
    }
    .caption {
        > th {
            padding: $spacing-xs;
        }
    }
    .prev,
    .next {
        font-size: $h3-font-size;
        color: $dark;
        text-align: center;
        display: block;
        width: 100%;
    }
    .month-name {
        text-align: center;
        font-size: $h3-font-size;
        .month-element {
            display: inline-block;
            color: $secondary;
        }
    }
    .month-element {
        text-transform: capitalize;
    }
    .week-name {
        background: $primary;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        th, td {
            padding: rem(8px);
            font-weight: $font-weight-bold;
        }
        th {
            font-size: $h3-font-size;
        }
    }
    tr > th, tr > td {
        &:last-child {
            .day {
                color: $secondary;
            }
        }
    }
    .day {
        text-align: center;
        height: 60px;
        padding: rem(6px);
        border: none;
        font-weight: $font-weight-bold;
        .day-price {
            font-weight: $font-weight-normal;
            color: $blue-dark;
            font-size: $h5-font-size;
        }
        
        &.checked {
            background: rgba($primary, .2);
        }
        &.first-date-selected {
            background: $primary;
            color: $white !important;
            .day-price {
                color: $white;
            }
        }
        &.last-date-selected {
            background: $blue-dark;
            color: $white !important;
            .day-price {
                color: $white;
            }
        }
        &.lastMonth {
            opacity: 0.5;
        }
        &.invalid {
            opacity: 0.3;
        }
    }
    
}