.input-group {
    margin-bottom: $spacing-sm;
    display: flex;
    flex-direction: column;
    position: relative;
    &.light {
        color: $white;
        .input-label {
            color: inherit;
        }
        .input-control {
            border-bottom-color: $white;
            color: inherit;
            &:focus {
                border-bottom-color: $white;
            }
        }
    }
    &.offset-left {
        padding-left: $spacing-lg;
    }
    .input-label {
        color: $gray-700;
        margin-bottom: 0;
    }
    .input-control {
        background: transparent;
        border: none;
        color: inherit;
        padding: $spacing-xs/2 0;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        border-bottom: solid 1px $gray-300;
        transition: border .3s ease-out;
        font-size: $h3-font-size;
        color: $dark;
        &:focus {
            border-color: $primary;
        }
    }
    .input-suffix {
        position: absolute;
        bottom: $spacing-xs;
        right: 0;
        opacity: 0.75;
    }
    .input-icon {
        color: $primary;
        position: absolute;
        left: rem(4px);
        bottom: 0;
        font-size: rem(20px);
    }
}

$width-toggle: 120px;
$height-toggle: 32px;
.toggle-switch {
    padding: rem(4px);
    position: relative;
    background: $white;
    border-radius: $height-toggle/2 + 4px;
    @extend %shadow-md;
    .toggle-switch-wrapper {
        display: inline-flex;
    }
    .toggle-item {
        transition: color .3s ease-out;
        height: auto;
        padding: 0;
        font-size: $font-size-base;
        box-shadow: none !important;
        z-index: 2;
        input {
            display: none;
        }
        label {
            text-transform: uppercase;
            color: $gray-700;
            font-weight: $font-weight-bold;
            text-align: center;
            min-width: $width-toggle;
            height: $height-toggle;
            border-radius: $height-toggle/2;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            color: inherit;
            border-radius: $height-toggle/2;
            transition: color .2s ease-out;
            transition-delay: .1s;
        }
        &.active {
            label {
                color: $white;
            }
        }
    }
    .toggle-control {
        width: $width-toggle;
        height: $height-toggle;
        border-radius: $height-toggle/2;
        background: $primary;
        position: absolute;
        top: rem(4px);
        left: rem(4px);
        z-index: 0;
        transition: transform .3s ease-out;
        transform: translateX(0);
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: $border-radius-xl;
    @extend %shadow-md;
    padding: $spacing-sm;
    align-items: center;
    height: 76px;
    .input-label {
        font-weight: $font-weight-bold;
        color: $dark;
        margin-bottom: 0;
    }
    .input-text {
        color: $secondary;
        font-weight: $font-weight-bold;
        font-size: $h3-font-size;
    }
    &.adaptive {
        flex-direction: row;
        justify-content: space-between;
        padding-left: $spacing-lg;
        padding-right: $spacing-lg;
        .input-text {
            font-size: $h2-font-size;
        }
    }
}

.radio-box {
    padding: $spacing-xs $spacing-sm;
    @extend %shadow-md;
    border-radius: $border-radius-xl;
    border: solid 1px transparent;
    transition: border .3s ease-out;
    input[type="radio"] {
        display: none;
    }
    .radio-title {
        display: block;
        width: 100%;
        font-weight: $font-weight-bold;
        color: $dark;
        margin-bottom: 0;
        transition: color .3s ease-out;
        font-size: $h4-font-size;
    }
    .radio-subtitle {
        margin-bottom: 0;
    }
    &.active {
        border-color: $primary;
        .radio-title {
            color: $secondary;
        }
    }
}

.input-search {
    display: flex;
    position: relative;
    .input-icon {
        font-size: $h3-font-size;
        color: $dark;
        position: absolute;
        left: 0;
        height: 100%;
        opacity: 0.3;
        transition: opacity .3s ease-out;
        display: flex;
        align-items: center;
    }
    .input-control {
        border: none;
        border-bottom: solid 1px $secondary;
        padding: $spacing-xs $spacing-xl $spacing-xs $spacing-md;
        width: 100%;
        outline: none;
        font-size: $h3-font-size;
        &:focus {
            + .input-icon {
                opacity: 1;
            }
        }
    }
    .delete {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        padding: $spacing-xs;
        font-size: $h4-font-size;
        background: transparent;
        box-shadow: none;
        display: none;
    }
}

.input-pla-grey .input-control {
    &::-webkit-input-placeholder {
        color: $gray-500;
        font-size: rem(14px);
    }
}

.digit-group {
    input {
        width: 48px;
		height: 64px;
		border-radius: $border-radius-lg;
		border: 1px solid $gray-600;
		line-height: 30px;
		text-align: center;
		font-size: rem(30px);
		font-weight: $font-weight-bold;
		color: $blue-dark-3;
        margin: 0 0.5rem;
        outline: none;
        -webkit-appearance: none;
        padding: 5px;
        &:focus {
            border: 1px solid $primary;
            cursor: none;
        }

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        &[type=number] {
        -moz-appearance: textfield;
        }

        caret-color: transparent;
        &.error {
            border: 1px solid $red;
        }
    }
}

.form-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}

.form {
    .input-group {
        margin-bottom: 40px;
    }
    .btn-wrapper {
        margin: 60px auto 0;
        width: 90%;
    }
}
