.header {
    background: url('../images/bg-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;
    .account {
        transform: translateY(-1rem);
        min-height: rem(160px);
    }
}