// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 48px);
    z-index: 1040;
    outline: none;
    transition: $modal-transition;
    transform: translateY(50px);
    margin-top: rem(48px);
    &.show {
        display: block;
        transform: translate(0, 0);
    }
    &.modal-full-screen {
        height: 100%;
    }
}

.modal-content {
    @include shape-drawer();
    display: flex;
    flex-direction: column;
    @extend .container;
    position: relative;
    transition: height .3s ease-out;
}

.modal-dialog {
    position: relative;
    width: auto;
}

.modal-backdrop {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba($dark, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
    opacity: 0;
    transition: opacity .3s ease-out;
    &.show {
        opacity: 1;
    }
}

.modal-title {
    text-align: center;
    margin-bottom: 0;
}

.modal-header {
    padding-top: $spacing-sm;
}

.modal-body {
    overflow-y: auto;
}

.modal-dialog, 
.modal-content {
    height: 100%;
}

.modal-body,
.modal-footer {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
}

.button-close {
    position: absolute;
    top: rem(-40px);
    right: 0;
    background: transparent;
    color: $white;
    font-size: $h3-font-size;
    &:visited, &:focus, &:active {
        color: $white;
    }
}
