.navbar-bottom {
    position: fixed;
    bottom: 0;
    z-index: 1020;
    width: 100%;
    background: $white;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);

    .navbar-item {
        text-align: center;
        color: $gray-700;
        padding: rem(8px);
        padding-top: rem(12px);
        .navbar-title {
            font-size: $h5-font-size;
            font-weight: $font-weight-bold;
        }
        .navbar-icon {
            font-size: rem(24px);
        }
        a {
            appearance: none;
        }
        &.is-active {
            color: $primary;
        }
        &.has-noti {
            position: relative;
            &::before {
                content:'';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $primary;
                position: absolute;
                top: rem(12px);
                right: rem(24px);
                z-index: 1;
            }
        }
    }
}

.navbar-top {
    color: $white;
    .navbar-left {
        min-width: rem(48px);
    }
    .navbar-center {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        h3 {
            margin-bottom: 0;
            font-weight: $font-weight-normal;
            color: inherit;
        }
    }
    .navbar-right {
        min-width: rem(48px);
    }
}

