/* Typography */
.section-title {
  display: flex;
  align-items: baseline;
  position: relative;
  margin-bottom: 1rem;
  h2 {
    color: $blue-dark;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    font-size: $h3-font-size;
  }
  .readmore {
    color: $dark;
    font-size: $font-size-base;
    span {
      font-size: rem(8px);
      padding-left: 2px;
    }
  }
}

.img-list {
  padding-bottom: rem(38px);
  img {
    border-radius: $border-radius-xl;
    margin-bottom: 1rem;
    box-shadow: $shadow-sm;
  }
}

.title { 
  font-size: rem(18px);
  font-weight: $font-weight-bold;
  margin-bottom: 12px;
}

.editor-content {
  table {
    @extend .table-border;
  }
}

.bg-flight-dashed {
  background-color: $primary;
  background-image: url(../images/flight-dashed-bg.svg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
}

.img-logo {
  height: 40px;
  width: auto;
}

.one-border {
  border-top-left-radius: $border-radius-xxl;
}

.low-body {
  padding: 2.5rem 2rem 1rem;
  min-height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.high-body {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  max-height: 80%;
  @include media-breakpoint-up(sm) {
    min-height: 70%;
    max-height: 70%;
  }
}