.section-bg {
  position: relative;
  z-index: 0;

  .img-logo {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .block-wrapper {
    background-color: white;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
  }
}