.swiper-container-horizontal > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $white;
        opacity: 1;
        border: solid 1px $primary;
        position: relative;
        margin: 0 2px;
        outline: none;
        &.swiper-pagination-bullet-active {
            &::before {
                content: '';
                position: absolute;
                height: 6px;
                width: 6px;
                background-color: $primary;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
    
.slider-banner {
    .swiper-container {
        padding-bottom: 22px;
    }
    .swiper-wrapper {
        border-radius: $border-radius-xl;
    }
    img {
        border-radius: 15px;
        height: auto;
        width: 100%;
    }
    .swiper-pagination {
        bottom: -5px;
    }
}

.slider-primary {
    width: calc(100% + 1rem);
    .swiper-container {
        border-radius: 15px 0 0 15px;
    }
    .swiper-slide {
        width: auto;
        img {
            width: 100%;
            border-radius: $border-radius-xl;
        }
    }
    @include media-breakpoint-up(sm) {
        width: 100%;
    }
}

.slider-secondary {
    width: calc(100% + 1rem);
    z-index: 10;
    .swiper-container {
        border-radius: 15px 0 0 0;
    }
    @include media-breakpoint-up(sm) {
        width: 100%;
    }
}

.slider-tertiary {
    .swiper-pagination {
        bottom: 0;
    }
}

.slider-select {
    display: flex;
    position: relative;
    &:after, &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $primary;
    }
    &::before {
        top: 37px;
    }
    &::after {
        bottom: 37px;
    }
    .swiper-container {
        width: 100%;
        height: 125px;
        position: relative;
        &::before, &::after {
            content: '';
            height: 37px;
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 10;
        }
        &::before {
            top: 0;
            background-image: $bg-shadow-1;
        }
        &::after {
            background-image: $bg-shadow-2;
            bottom: 0;
        }
    }
    .swiper-slide {
        font-size: rem(16px);
        display: flex;
        justify-content: center;
        align-items: center;
        &.swiper-slide-active {
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            color: $primary;
            transition: all .2s ease-in-out;
        }
    }
}

.slider-background {
    position: relative;
    .swiper-slide {
        height: 100%;
        width: 100%;
    }
    .swiper-pagination {
        position: absolute;
        top: calc(65% - 25px);
    }
}