.table-border {
    color: inherit;
    td, th {
        border: solid 1px $gray-500;
        padding: $grid-gutter-width/2;
    }
    th {
        color: $dark;
        background: $gray-300;
    }
}