include ./_variables
doctype html
html(lang="vi")
  head
    block variables
    include ./_head.pug
  body(class=hasBgFlight ? 'bg-flight-dashed' : '')
    include ./_mixins.pug
    include ../components/_navbar-top
    .body-wrapper
      block content
    include ../components/_modals.pug
    include ./_scripts.pug
