include ./_variables
doctype html
html(lang="vi")
  head
    block variables
    include ./_head.pug
  body.has-navbar-bottom
    include ./_mixins.pug
    .body-wrapper
      include ../components/_navbar-profile
      block content
    include ../components/_navbar-bottom
    include ../components/_modals.pug
    include ./_scripts.pug
