mixin card-booking(icon, title, href)
    a.card-booking(href=href title=title)&attributes(attributes)
        .card-booking-wrapper
            .card-icon 
                img(src=icon alt=title)
            .card-title 
                h3 !{title}

mixin navbar-item(icon, title, href, isActive, hasNoti)
    - classActive = isActive ? 'is-active' : '';
    - classNoti = hasNoti ? 'has-noti' : '';
    a.navbar-item(href=href title=title class=classActive + classNoti)&attributes(attributes)
        .navbar-icon 
            span(class=icon)
        .navbar-title 
            span !{title}

mixin section-title(title)
    .section-title 
        h2 !{title}
        if block
            .ml-auto
                block

mixin card-news(thumb, title, description, href)
    .card.card-news 
        .card-thumb 
            a(href=href title=title)
                .img-wrapper
                    img(src=thumb alt=title)
        .card-body
            a(href=href title=title)
                h4.card-title #{title}
            .card-text !{description} 

//- 
    input-group
    @theme: 'dark', 'light' (default 'dark')
    @label
    @placeholder
    @value
    @suffix: text in last row
    @offsetLeft: has spacing in left to insert something
    @icon: display in left side of group
mixin input-group(theme, label, placeholder, value, suffix, offsetLeft, icon)
    - var classTheme = theme == 'light' ? 'light' : '';
    - var classOffset = offsetLeft ? 'offset-left' : '';
    - var className = [classTheme,classOffset].join(' ');
    .input-group(class=className readonly=null hidden=null)&attributes(attributes) 
        label.input-label !{label}
        input.input-control(type="text" value=value placeholder=placeholder readonly=attributes.readonly hidden=attributes.hidden)
        span.input-suffix !{suffix} 
        if icon && offsetLeft
            span.input-icon 
                span(class=icon)


mixin radio-box(title, subtitle, name, id, isChecked)
    .radio-box&attributes(attributes) 
        input(type="radio" name=name id=id checked=isChecked || null value=title)
        label.radio-title !{title}
        p.radio-subtitle !{subtitle} 

mixin chip-outline(title)
    label.chip.chip-outline&attributes(attributes) !{title}

mixin chip-primary(title)
    label.chip.chip-primary&attributes(attributes) !{title}

mixin card-result(title, subtitle, textSuffix)
    .card-result&attributes(attributes)
        .card-body
            h4 #{title}
            p #{subtitle}
        if textSuffix
            .card-suffix 
                span #{textSuffix}

//- 
    Navbar top custome
    @navbarIconLeft: true/false/null
    @navbarIconRight: class of icon
    @navbarTextRight: plain text
mixin navbar-top-custom(navbarIconLeft, navbarIconRight, navbarTextRight)
    - var classSpacing = (navbarIconLeft && navbarIconRight) ? 'mx-auto' : !navbarIconLeft ? 'mr-auto ml-3' : !navbarIconRight ? 'ml-auto mr-3' : '';
    header
        nav.navbar-top 
            .container.px-0.d-flex.justify-content-center 
                if navbarIconLeft
                    .navbar-left.mr-auto 
                        a.button.button-icon(href="/" role="button")
                            span.ic-arrow-left
                .navbar-center(class=classSpacing)
                    block
                if navbarIconRight
                    .navbar-right.ml-auto 
                        if navbarIconRight 
                            button.button.button-icon(type="button")
                                span(class=navbarIconRight)
                        if navbarTextRight 
                            button.button.button-text(type="button") !{navbarTextRight}

mixin slider-select(max, hasAdult)
    - var classAdult = hasAdult ? 'not-zero' : '';
    .slider-select&attributes(attributes)(class=classAdult)
        .swiper-container
            .swiper-wrapper
                if hasAdult
                    - var n = 1
                    while n < max
                        .swiper-slide= n++
                else 
                    - var n = 0;
                    while n < (max + 1)
                        .swiper-slide= n++