script. 
  var priceByDay = [
    {
      month: 8,
      year: 2020,
      prices: [
        {
          date: 1,
          price: '1.245k'
        },
        {
          date: 2,
          price: '3.329k'
        },
        {
          date: 24,
          price: '796k'
        },
      ]
    },
    {
      month: 9,
      year: 2020,
      prices: [
        {
          date: 4,
          price: '1.245k'
        },
        {
          date: 8,
          price: '3.329k'
        },
        {
          date: 10,
          price: '796k'
        },
      ]
    }
  ];
script(type='text/javascript', async, src='assets/js/vendors.min.js')
script(type='text/javascript', async, src='assets/js/main.min.js')
