- 
    var cardBookings = [
        {
            icon: './assets/images/ic-flight.svg',
            title: 'Vé máy bay',
            href: 'booking-flight.html'
        },
        {
            icon: './assets/images/ic-building.svg',
            title: 'Khách sạn',
            href: '#'
        },
        {
            icon: './assets/images/ic-car.svg',
            title: 'Xe sân bay',
            href: '#'
        },
        {
            icon: './assets/images/ic-ticket.svg',
            title: 'Săn vé rẻ',
            href: '#'
        }
    ];
- 
    var navbarBottom = [
        {
            icon: 'ic-home',
            title: 'Trang chủ',
            href: '#',
            isActive: true
        },
        {
            icon: 'ic-ticket',
            title: 'Vé của tôi',
            href: '#'
        },
        {
            icon: 'ic-bell',
            title: 'Thông báo',
            href: '#',
            noti: true
        },
        {
            icon: 'ic-user',
            title: 'Tôi',
            href: '#'
        }
    ];
- 
    var sliderBanner = [
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg'
    ];
    var sliderPrimary = [
        './assets/images/banner-small-3.jpg',
        './assets/images/banner-small-2.jpg',
        './assets/images/banner-small-3.jpg',
        './assets/images/banner-small-3.jpg',
        './assets/images/banner-small-2.jpg',
        './assets/images/banner-small-3.jpg'
    ];
    var news = [
        {
            thumb: './assets/images/slider-2.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan 4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan 4 ngày 3 đêm',
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan 4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan 4 ngày 3 đêm',
            href: '#'
        }
    ];
- 
    var sliderNews = [
        {
            image: './assets/images/news-2.jpg'
        },
        {
            image: './assets/images/news-2.jpg'
        },
    ];
    var news = [
        {
            thumb: './assets/images/slider-2.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        },
        {
            thumb: './assets/images/slider-1.png',
            title: 'Kinh nghiệm du lịch Chiangmai',
            description: 'Đóa hồng miền Bắc Thái Lan<br>4 ngày 3 đêm',
            href: '#'
        }
    ];
- 
    var specialImg = [
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg',
        './assets/images/banner-1.jpg'
    ];
- 
    var provinces = [
        'Hà Nội',
        'TP. Hồ Chí Minh', 
        'Đà Nẵng', 
        'Pleiku',
        'Rạch Giá',
        'Cần Thơ',
        'Côn Đảo'
    ];
- var foreignCities = ['Bangkok', 'Tokyo', 'Seoul', 'Hongkong', 'Thượng Hải', 'New Yourk'];