/* Source Sans Pro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-regular-webfont", 400, normal, ttf woff woff2);
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-semibold-webfont", 600, bolder, ttf woff woff2);
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-bold-webfont", 700, bold, ttf woff woff2);
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-italic-webfont", 400, italic, ttf woff woff2);
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-semibolditalic-webfont", 600, italic, ttf woff woff2);
@include font-face($font-family, "../fonts/Nunito_Sans/nunitosans-bolditalic-webfont", 700, italic, ttf woff woff2);

/* Icon font */
$icomoon-font-family: "icon-8trip-mobile" !default;
$icomoon-font-path: "../fonts/icon-8trip-mobile/fonts" !default;

@import "../fonts/icon-8trip-mobile/variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1qghay');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1qghay#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1qghay') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1qghay') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1qghay##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-delete {
  &:before {
    content: $ic-delete; 
  }
}
.ic-help {
  &:before {
    content: $ic-help; 
  }
}
.ic-copy {
  &:before {
    content: $ic-copy; 
  }
}
.ic-car-2 {
  &:before {
    content: $ic-car-2; 
  }
}
.ic-king-bed {
  &:before {
    content: $ic-king-bed; 
  }
}
.ic-landing {
  &:before {
    content: $ic-landing; 
  }
}
.ic-take-off {
  &:before {
    content: $ic-take-off; 
  }
}
.ic-flight {
  &:before {
    content: $ic-flight; 
  }
}
.ic-add-circle {
  &:before {
    content: $ic-add-circle; 
  }
}
.ic-mine-circle {
  &:before {
    content: $ic-mine-circle; 
  }
}
.ic-dinner {
  &:before {
    content: $ic-dinner; 
  }
}
.ic-atm {
  &:before {
    content: $ic-atm; 
  }
}
.ic-washing-machine {
  &:before {
    content: $ic-washing-machine; 
  }
}
.ic-wine {
  &:before {
    content: $ic-wine; 
  }
}
.ic-meeting1 {
  &:before {
    content: $ic-meeting1; 
  }
}
.ic-elevator {
  &:before {
    content: $ic-elevator; 
  }
}
.ic-ringing-bell {
  &:before {
    content: $ic-ringing-bell; 
  }
}
.ic-map-pin {
  &:before {
    content: $ic-map-pin; 
  }
}
.ic-waiter {
  &:before {
    content: $ic-waiter; 
  }
}
.ic-dumbbell {
  &:before {
    content: $ic-dumbbell; 
  }
}
.ic-car {
  &:before {
    content: $ic-car; 
  }
}
.ic-motorbike {
  &:before {
    content: $ic-motorbike; 
  }
}
.ic-parking {
  &:before {
    content: $ic-parking; 
  }
}
.ic-swimming {
  &:before {
    content: $ic-swimming; 
  }
}
.ic-massage {
  &:before {
    content: $ic-massage; 
  }
}
.ic-wifi {
  &:before {
    content: $ic-wifi; 
  }
}
.ic-caret-up {
  &:before {
    content: $ic-caret-up; 
  }
}
.ic-star-fill {
  &:before {
    content: $ic-star-fill; 
  }
}
.ic-star {
  &:before {
    content: $ic-star; 
  }
}
.ic-pin-fill {
  &:before {
    content: $ic-pin-fill; 
  }
}
.ic-user-2 {
  &:before {
    content: $ic-user-2; 
  }
}
.ic-caret-right {
  &:before {
    content: $ic-caret-right; 
  }
}
.ic-transfer-horizontal {
  &:before {
    content: $ic-transfer-horizontal; 
  }
}
.ic-caret-down {
  &:before {
    content: $ic-caret-down; 
  }
}
.ic-arrow-right-circle {
  &:before {
    content: $ic-arrow-right-circle; 
  }
}
.ic-arrow-left-circle {
  &:before {
    content: $ic-arrow-left-circle; 
  }
}
.ic-seat {
  &:before {
    content: $ic-seat; 
  }
}
.ic-customer {
  &:before {
    content: $ic-customer; 
  }
}
.ic-pin {
  &:before {
    content: $ic-pin; 
  }
}
.ic-transfer {
  &:before {
    content: $ic-transfer; 
  }
}
.ic-close {
  &:before {
    content: $ic-close; 
  }
}
.ic-search {
  &:before {
    content: $ic-search; 
  }
}
.ic-arrow-left {
  &:before {
    content: $ic-arrow-left; 
  }
}
.ic-arrow-right {
  &:before {
    content: $ic-arrow-right; 
  }
}
.ic-user {
  &:before {
    content: $ic-user; 
  }
}
.ic-bell {
  &:before {
    content: $ic-bell; 
  }
}
.ic-ticket {
  &:before {
    content: $ic-ticket; 
  }
}
.ic-home {
  &:before {
    content: $ic-home; 
  }
}
