*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: $dark;
  margin-bottom: 1rem;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
}

p {
  color: inherit;
}

hr {
  border: none;
  border-bottom: solid 0.5px $gray-500;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

code {
  font-size: 87.5%;
  color: $red;
  word-break: break-word;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.content-overlay {
  margin-top: -1.5rem;
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  &::before {
    margin-top: 50%;
    content: '';
    display: block;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.img-fluid {
  img {
    max-height: rem(480px);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

%shadow {
  content: '';
  width: 96%;
  height: 96%;
  position: absolute;
  bottom: rem(-16px);
  left: 50%;
  transform: translateX(-50%);
  background: $black;
  z-index: -1;
  filter: blur(15px);
  opacity: 0.1;
  transition: all .3s ease-out;
}

img {
  width: 100%;
  height: auto;
}

.body-wrapper {
  overflow: hidden;
}

.has-navbar-bottom {
  .body-wrapper {
    padding-bottom: calc(#{rem(72px)} + env(safe-area-inset-bottom));
  }
}

%reset-button {
  height: auto;
  box-shadow: none;
}