.h-100 {
    height: 100% !important;
}

// Shadows
%shadow-md {
    box-shadow: 5px 5px 20px 0 rgba($blue-dark-2, 0.2);
}

// Background
.bg-white {
    background: $white !important;
}

.bg-reset {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//text
.text-label {
    font-size: rem(14px);
    font-weight: $font-weight-bold;
    margin-bottom: 0;
}
  
.text-sub {
    color: $gray-700;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-dark {
    color: $dark;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-sm {
    font-size: rem(17px);
    color: $blue-dark-3;
}

.text-phone {
    font-size: rem(20px);
    font-weight: $font-weight-bold;
    color: $blue-dark-3;
    white-space: nowrap;
}

.text-smbold {
    font-weight: $font-weight-semibold;
}

// Sticky 
.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.pd-space {
    padding-right: 5px;
}

.border-error {
    border: 1px solid $red;
}