/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$primary      : #27B5E8;
$secondary    : #FF5D00;

$red          : #D0021B; // use for price
$blue-dark    : #003075;
$blue-dark-2  : #005878;
$blue-dark-3  : #242D48;

$white        : #fff;
$gray-100     : #F2F2F2; // Border
$gray-200     : #F6F6F6; // Background
$gray-500     : #CCCCCC; // Text
$gray-600     : #ADB0BA;
$gray-700     : #999999; // Text
$gray-800     : #666666; // class p
$dark         : #000000;


$color-error  : #FF4C5E;
$color-success: #44DD5E;
$color-warning: #FFBA1C;
$color-info   : #1EB3A1;

$body-color     : $gray-800;
$body-background: $white;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-family: 'Nunito Sans';


/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-regular:           400;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;


/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$line-height-default: 1.5;
$line-height-small: 1.25;
$line-height-reset  : 1;

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1:                        cubic-bezier(0.19, 1, 0.22, 1);
$cubic2:                        cubic-bezier(.48, .48, .57, .57);
$cubic3:                        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4:                        cubic-bezier(0.4, 0, 0.2, 1);


/* Radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$border-radius-button: rem(3px);
$border-radius-lg    : rem(10px);
$border-radius-xl    : rem(15px);
$border-radius-xxl   : rem(40px);


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$spacing-xs: rem(10px);
$spacing-sm: rem(14px);
$spacing-md: rem(30px);
$spacing-lg: rem(40px);
$spacing-xl: rem(60px);

/* Shadow
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$shadow-xs: 0rem rem(3px) rem(20px) rgba($dark, .1);
$shadow-sm: 0rem rem(16px) rem(50px) rem(-16px) rgba($dark, .2);

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$bg-shadow-1: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
$bg-shadow-2: linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);

// Custom bootstrap
$font-family-base: $font-family;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px
);
$container-max-widths: (
  sm: 540px,
  md: 720px
);
$grid-gutter-width: 16px;
$container-padding-x: 1rem;

$font-size-base: rem(14px);
$h1-font-size  : 2rem; // 28px
$h2-font-size  : 1.57rem; // 22px
$h3-font-size  : $font-size-base * 1.3; // 20px
$h4-font-size  : $font-size-base; // 14px
$h5-font-size  : $font-size-base * 0.92; // 13px
$h6-font-size  : $font-size-base * 0.857; // 12px


$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
  ),
  $spacers
);

$btn-height: rem(48px);
$btn-border-radius: $btn-height/2;

$modal-fade-transform : translate(0, -50px) !default;
$modal-show-transform : none !default;
$modal-transition     : transform .3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;
