@use "sass:color";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'vendors/swiper';
@import 'vendors/headroom';
// Must import variables first to custom bootstrap
@import 'rem';
@import 'variables';
@import 'mixins';

// Bootstrap
// Included: variables, breakpoints, grid, display, flex, spacing, functions
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import 'fonts';
@import 'global';
@import 'keyframes';
@import 'utitlities';

// Components
@import './components/buttons';
@import './components/tables';
@import './components/others';
@import './components/datepicker';
@import './components/chips';

// Complex components
@import './components/header';
@import './components/navbar';
@import './components/slider';
@import './components/account';
@import './components/cards';
@import './components/booking';
@import './components/modal';
@import './components/forms';
@import './components/section';
