extends layout/_layout--child-top
block variables
    - var isHeaderTrans = true;
    - var navbarTitle = 'Tìm chuyến bay';
    - var hasBgFlight = true;

block content 
    form.booking
        .booking-header
            .container
                .booking-search-place.py-3
                    .booking-search-controls.js-toggle-place
                        span
                        button.button.button-icon.rounded(type="button" data-depart="#input-depart-place" data-arrived="#input-arrived-place") 
                            span.ic-transfer
                        span.ic-pin
                    +input-group('light', 'Điểm khởi hành', 'VD: Hà Nội', 'Hà Nội', 'HAN', true)(id="input-depart-place" class="mb-4" data-toggle="modal" data-target="#modal-search-location" readonly)
                    +input-group('light', 'Điểm đến', 'VD: Thành phố Hồ Chí Minh', 'Thành phố Hồ Chí Minh', 'SGN', true)(id="input-arrived-place" readonly)
        .container.px-0
            .booking-body.content-overlay.js-min-height-offset 
                .d-flex.justify-content-center.mb-4
                    .toggle-switch.js-toggle-switch(data-toggle="buttons") 
                        .toggle-switch-wrapper
                            .toggle-item.btn
                                input#switch-one-way(type="radio" name="toggle-switch-flight" value="1 chiều")
                                label(for="switch-one-way" data-target="#col-date-arrived" aria-expanded="false" data-target-adaptive="#input-box-depart") 1 chiều
                            .toggle-item.btn.active
                                input#switch-rounded(type="radio" name="toggle-switch-flight" value="Khứ hồi" checked)
                                label(for="switch-rounded" data-target="#col-date-arrived" aria-expanded="true" data-target-adaptive="#input-box-depart") Khứ hồi
                        span.toggle-control
                .row.justify-content-sm-center.mb-4 
                    .col.col-sm-6 
                        .input-box(id="input-box-depart" data-toggle="modal" data-target="#modal-pick-date-round-trip") 
                            label.input-label Ngày đi 
                            span.input-text 20-10-2020
                            input(type="hidden" value="20-10-2020" name="input-date-depart")
                    .col(id="col-date-arrived") 
                        .input-box(id="input-box-arrived" data-toggle="modal" data-target="#modal-pick-date-round-trip") 
                            label.input-label Ngày về
                            span.input-text 25-10-2020
                            input(type="hidden" value="25-10-2020" name="input-date-arrived")
                +input-group(null, 'Hành khách', 'VD: 1 người lớn', '1 người lớn, 0 trẻ em, 0 em bé', null, true, 'ic-customer')(readonly data-toggle="modal" data-target="#modal-pick-customer")
                +input-group(null, 'Hạng ghế', 'VD: phổ thông', 'Phổ thông', null, true, 'ic-seat')(readonly data-toggle="modal" data-target="#modal-pick-seat" id="input-pick-seat")
                .mt-auto.mt-sm-0.pt-4.text-center
                    button.button.button-primary(type="submit") Tìm chuyến bay

