extends layout/_layout
block variables
    - var hasBgFlight = true;

block header
    +navbar-top-custom(true)
        .card-step-heading.has-prefix 
            .card-prefix
                span 1
            .card-body
                h4 Khởi hành: Hà Nội #[span.ic-one-way] TP.HCM 
                p 20/10/2020
                p (1 người lớn, 2 trẻ em, economy) 
    
block content 
    p Result content
    

