extends layout/_layout
block variables
    - var hasBgFlight = false;

block content
    section.section-bg
        a(href="home.html")
            img(src="./assets/images/logo.svg", alt="").img-logo
        .slider-background.js-min-height-offset
            .swiper-container
                .swiper-wrapper
                    .swiper-slide(style="background-image: url('./assets/images/bg-1.jpg');").bg-reset.js-min-height-offset
                    .swiper-slide(style="background-image: url('./assets/images/bg-2.jpg');").bg-reset.js-min-height-offset
                .swiper-pagination
        .block-wrapper.one-border.low-body
            +input-group(null, null, 'Số điện thoại của bạn', null, null, false, null).input-pla-grey
            .text-center.py-5
                button.button.button-primary.button-sm.button-no-shadow.m-auto ĐĂNG NHẬP
            .text-center.pt-4
                span.text-dark.pd-space Bạn chưa có tài khoản?
                a(href="#").text-uppercase Đăng ký ngay  