extends layout/_layout
block variables
    - var hasBgFlight = false;

block content
    section.section-bg(style="background-image: url('./assets/images/bg-2.jpg');").bg-reset.js-min-height-offset.section-otp
        a(href="home.html")
            img(src="./assets/images/logo.svg", alt="").img-logo
        .block-wrapper.one-border.high-body
            .container
                .text-sm Mã xác thực đã được gửi tới số điện thoại
                .text-center.pt-3.pb-5
                    .text-phone +84 927 958 1060
                .text-sm.text-smbold.pb-3 Nhập mã
                form.digit-group(data-autosubmit="false" autocomplete="off").pb-5
                    .d-flex.justify-content-center
                        input(type="number" min="0" max="9" id="digit-1" name="digit-1" data-next="digit-2")
                        input(type="number" min="0" max="9" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1")
                        input(type="number" min="0" max="9" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2")
                        input(type="number" min="0" max="9" id="digit-4" name="digit-4" data-previous="digit-3")
                a(href="#").text-sm.pt-4.text-center.d-block Không nhận được mã?
                .pt-2
                    .button-countdown.m-auto Gửi lại mã trong <span class="countdown-timer">0:30</span>
                
            .container.text-center.pt-4
                a(href="#").text-sm Số điện thoại bạn nhập chưa đúng?