extends layout/_layout
block variables
    - var hasBgFlight = false;

block content
    section.section-bg(style="background-image: url('./assets/images/bg-2.jpg');").bg-reset.js-min-height-offset.section-otp
        a(href="home.html")
            img(src="./assets/images/logo.svg", alt="").img-logo
        .block-wrapper.one-border.high-body
            .container
                .form-title.text-center Thông tin thành viên
                form.form.form-wrapper
                    +input-group(null, null, 'Họ và tên', null, null, false, null).input-pla-grey 
                    +input-group(null, null, 'Email', null, null, false, null).input-pla-grey 
                    +input-group(null, null, 'Số điện thoại của bạn', null, null, false, null).input-pla-grey 
                    .btn-wrapper
                        button.button.button-primary.button-sm.m-auto(type="submit") Lưu thông tin
            .container.text-center.pt-4
                .text-sm Bằng cách đăng ký, tôi đồng ý với
                .text-sm Điều khoản dịch vụ  và  Chính sách bảo mật