extends layout/_layout--profile
block variables
  //- Variables
  - var isLoggedin = true;
  - var avatar = './assets/images/avatar.jpeg';
  - var accountTitle = 'Xin chào, Vũ Đức Công';
  - var accountText = 'Thành viên VIP';

block content
  //- Content 
  