extends layout/_layout--home
block variables
  //- Variables
  - var accountTitle = 'Đăng nhập hoặc Đăng ký';
  - var accountText = 'Nhận ngay ưu đãi lên tới 300k';
  
block content
  //- Content 
  .content-overlay
    //- .button.button-primary(data-toggle="modal" data-target="#modal-login") Form login
    include ./components/_booking-list 
    section.py-3 
      .container
        .slider-banner
          .swiper-container
            .swiper-wrapper
              each image in sliderBanner
                .swiper-slide
                  a(href="#" title="Banner name")
                    img(src=image alt="Banner")
            .swiper-pagination
    include ./components/_slider-primary
    include ./components/_slider-secondary