extends layout/_layout--home
block variables
  //- Variables
  - var isLoggedin = true;
  - var avatar = './assets/images/avatar.jpeg';
  - var accountTitle = 'Xin chào, Vũ Đức Công';
  - var accountText = 'Hôm nay bạn muốn đi đâu?';

block content
  //- Content 
  .content-overlay
    include ./components/_booking-list 