extends layout/_layout
block content
  //- Variables
  - var title = 'Menu';
  - 
    var pages = [
      {
        name: 'Home',
        link: 'home.html'
      },
      {
        name: 'Home Logged in',
        link: 'home--logged-in.html'
      },
      {
        name: 'Ưu đãi đặc biệt',
        link: 'special-deals.html'
      },
      {
        name: 'Tin tức du lịch',
        link: 'news-listing.html'
      },
      {
        name: 'Tin tức du lịch - detail',
        link: 'news-detail.html'
      },
      {
        name: 'Đặt vé máy bay',
        link: 'booking-flight.html'
      },
      {
        name: 'Kết quả tìm vé máy bay',
        link: 'booking-flight-result.html'
      },
      {
        name: 'Form login',
        link: 'form-login.html'
      },
      {
        name: 'Form otp',
        link: 'form-otp.html'
      },
      {
        name: 'Form otp error',
        link: 'form-otp-error.html'
      },
      {
        name: 'Form info',
        link: 'form-info.html'
      },
      {
        name: 'Form profile',
        link: 'form-profile.html'
      }
    ];

  .container.py-3
    h1 Menu listing
    ol
      each page, index in pages 
        li.mb-1 
          a(href=page.link title=page.name) #{page.name}

