extends layout/_layout--child
block variables
  //- Variables
  - var navbarTitle = 'Tin tức du lịch';
  - var navbarIconRight = 'ic-search'
  
block content
  //- Content 
  section
    .img-fluid
      img(src='https://images.unsplash.com/photo-1506236506587-53051b4197be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80' alt="Banner news")
  section.py-4
    .container  
      h2 Khám phá du lịch Chiangmai
      .editor-content.pt-2
        h3 8Trip kính chào quý khách
        p 
          | Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. 
        p
          img(src="./assets/images/news-1.jpg", alt="")
        h3 1. Thu thập thông tin cá nhân
        p 
          | Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập. Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của bạn. Chính sách cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá nhân của khách hàng. Cuối cùng, Chính sách bảo mật sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của mình. Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. 
        hr 
        h3 Heading 
        br
        h1 This is H1
        h2 This is H2 
        h3 This is H3
        h4 This is H4 
        h5 This is H5 
        h6 This is H6 
        hr
        h3 List
        ul 
          li List item 1
          li List item 2
          li List item 3
          li List item 4
          li List item 5
        ol 
          li List item 1
          li List item 2
            ol 
              li Item 1
              li Item 2
          li List item 3
          li List item 4
          li List item 5
        hr 
        h3 Table 
        p Default table not have any style, so just display border when table inside <code>.editor-content</code> 
        p If using table outside, use class <code>.table-border</code>.
        table
          tr
            th Company
            th Contact
            th Country
          tr
            td Alfreds Futterkiste
            td Maria Anders
            td Germany
          tr
            td Centro comercial Moctezuma
            td Francisco Chang
            td Mexico
          tr
            td Ernst Handel
            td Roland Mendel
            td Austria
          tr
            td Island Trading
            td Helen Bennett
            td UK
          tr
            td Laughing Bacchus Winecellars
            td Yoshi Tannamuri
            td Canada
          tr
            td Magazzini Alimentari Riuniti
            td Giovanni Rovelli
            td Italy

        
        

