extends layout/_layout--child
block variables
  
block content
  //- Content 
  section
    .slider-tertiary
      .swiper-container
        .swiper-wrapper
          each item in sliderNews
            .swiper-slide
              a(href="#" title="Banner name")
                img(src=item.image alt="Banner")
        .swiper-pagination
  section.py-3
    .container  
      .row 
        each item in news
          .col-6(class=index == news.lenth - 1 || index == news.lenth - 2 ? '' : 'mb-3') 
            +card-news(item.thumb, item.title, item.description, item.href)