extends layout/_layout--child
block variables
  //- Variables
  - var navbarTitle = 'Ưu đãi đặc biệt';
  - var navbarIconRight = 'ic-search';
  
block content
  //- Content 
  section.py-3
    .container
      .img-list.row
        each item in specialImg
          .col-12
            a(href="#" title="")
              img(src="./assets/images/banner-1.jpg", alt="")  